.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 26.25rem;
  border-radius: .5rem;
  color: #fff;
  background-color: #577590;
}

.formContainer h2 {
  width: 85%;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  text-align: center;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.8rem 0;
}

.inputField label {
  font-size: 1.2rem;
  font-weight: 600;
}

.inputField input {
  padding: 0.8rem;
  width: 15rem;
  border-radius: 0.2rem;
  border: 1px solid #C4C4C4;
  outline: none;
}

.btnSend {
  width: 10rem;
  height: 3.125rem;
  margin-top: 1.5rem;
  /* padding: 0.8rem; */
  font-size: 1rem;
  font-weight: bold;
  border-radius: .5rem;
  background-color: #e07a5f;
  color: #fff;
  border: 0px;
  cursor: pointer;
}

.btnSend:hover {
  background-color: #ec896e;
}

@media (max-width: 1060px) {
  .formContainer {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .formContainer {
    margin-top: 2rem;
    width: 280px;
  }
  .formContainer h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .inputField {
    margin: 0.5rem 0;
  }
  .inputField input {
    width: 14rem;
  }
  .btnSend {
    margin: 1.3rem 0;
  }
}